$primary-color: #e2e469;
$secondary-color: #afaf52;

$grey: #3f3f3b;
$grey-25: lighten($grey, 25);
$grey-50: lighten($grey, 50);
$grey-75: lighten($grey, 75);
$light: #c2c799;
$black: #1d1d1b;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i&family=Playfair+Display:400,400i,700,700i&display=swap');

$main-font: 'Open Sans', 'Roboto', 'Helvetica', sans-serif;
$display: 'Playfair Display', Georgia, serif;

$max-width: 1300px;

$w1-3: calc(100% / 3);
$w2-3: calc((100% / 3) * 2);
