.default-page {
	background: $light;
	padding: 5rem 1rem 3rem;

	&__header {
		padding: 2rem 0;

		&__title {
			color: #fff;
			font-family: $display;
			font-size: 2.5rem;
			margin: 0;
			text-align: center;
		}
	}

	&__content {
		border: 1px solid $primary-color;
		background: #fff;
		padding: 2rem;
		max-width: 800px;
		margin: 0 auto;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $secondary-color;
		}

		p {
			margin: 0 0 1rem;
		}
	}
}
