.site-footer {
	background: $grey;
	padding: 2rem 1rem;

	.subscription {
		display: flex;
		justify-content: center;
		margin: 0 0 2rem;

		@include tablet {
			flex-direction: column;
			align-items: center;
			max-width: 400px;
			margin: 0 auto 2rem;
		}

		.subscription-title {
			margin: 0 1rem 0 0;
			color: $light;
			font-family: $display;
			font-style: italic;
			font-weight: bold;
			font-size: 1.5rem;

			@include tablet {
				text-align: center;
				width: 100%;
				margin: 0 0 1rem;
			}
		} /* .subscription-title */

		.input {
			border: none;
			border-bottom: 1px solid $light;
			border-left: 1px solid $light;
			padding: 0.25rem 0.5rem;

			@include placeholder {
				font-family: $display;
				font-style: italic;
				color: $light;
				transition: all 0.3s;
			}

			@include tablet {
				margin: 0 0 1rem;
				width: 100%;
			}

			&:focus {
				@include placeholder {
					opacity: 0;
					padding: 0 0 0 1rem;
				}
			}
		} /* .input */

		.submit {
			margin: 0 0 0 1rem;
			color: $light;
			font-family: $display;
			font-style: italic;
			font-weight: bold;
			padding: 0.25rem 1rem;
			text-transform: lowercase;

			@include tablet {
				width: fit-content;
			}

			&:hover {
				color: $grey;
			}
		} /* .submit */
	} /* .subscription */

	.footer-nav {
		margin: 0 0 2rem;

		.nav-list {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			justify-content: center;

			@include tablet {
				flex-direction: column;
			}

			.menu-item {
				padding: 0.5rem;

				a {
					color: $light;
				}
			} /* .menu-item */
		} /* .nav-list*/
	} /* .footer-nav */

	.social {
		padding: 1rem 0;

		ul {
			display: flex;
			list-style: none;
			justify-content: center;
			margin: 0 auto;
			padding: 0;

			li {
				margin: 0 0.5rem;
				padding: 0;

				a {
					display: inline-flex;
					border: 1px solid $primary-color;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					height: 30px;
					width: 30px;
					text-decoration: none;
					transition: all 0.3s;
					color: #fff;

					&:hover {
						background: $primary-color;
						color: $grey;
					}
				}
			}
		}
	} /* .social  */

	.copy {
		border-top: 1px solid $secondary-color;

		p {
			margin: 0;
			padding: 1rem;
			color: $light;
			text-align: center;
			letter-spacing: 0.05rem;
		}
	}
}
