.hero-landing {
	display: flex;
	background: $grey;
	position: relative;
	height: 80vh;
	min-height: 600px;

	@include tablet {
		height: auto;
	}

	&__background {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 0;

		&:before {
			background: rgba($black, 0.5);
			box-shadow: inset 0 0 150px 120px rgba($black, 0.7);
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		&.video {
			background: $black;
			height: 100%;
			overflow: hidden;
			position: relative;
			width: 100%;

			video {
				height: auto;
				left: 50%;
				min-height: 100%;
				min-width: 100%;
				overflow: hidden;
				position: absolute;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				width: auto;
				z-index: 0;
			}
		}

		&.image {
			height: 100%;
			width: 100%;

			img {
				display: block;
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
	}

	&__text {
		color: white;
		margin: auto;
		max-width: $max-width;
		padding: 1rem;
		position: relative;
		width: 100%;
		z-index: 1;

		h2 {
			color: $primary-color;
			font-weight: 300;
			font-size: 4rem;
			letter-spacing: 0.05rem;
			margin: 0;
			text-transform: uppercase;
		}

		p {
			margin: 0;
			font-family: $display;
			font-size: 2rem;
			font-weight: 300;

			letter-spacing: 0.1rem;
			text-transform: uppercase;

			strong {
				font-family: $main-font;
				font-weight: 300;
			}
		}
	}
}

@keyframes animateImage {
	from {
		opacity: 0.7;
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
		filter: brightness(50%);
	}
	to {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		filter: brightness(100%);
	}
}
@keyframes animateDetails {
	from {
		background: $secondary-color;
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}
	to {
		background: $primary-color;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
