.woocommerce-order {
	display: flex;
	flex-direction: column;
	background: #fff;
	max-width: 600px;
	margin: 9rem auto 2rem;
	padding: 2rem;
	border: 1px solid $primary-color;
	width: 100%;

	&:before {
		content: '';
		background: $secondary-color;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 300px;
		z-index: -1;
	}

	.woocommerce-notice {
		color: $secondary-color;
		font-size: 2rem;
		margin: 0;
		padding: 0 0 1rem;
		text-align: center;
	}

	.woocommerce-order-overview {
		margin: 0 auto;
		padding: 0 0 0 1.5rem;

		li {
			margin: 0;
			padding: 0;
		}
	}

	.woocommerce-order-details {
		margin-top: 1rem;

		.woocommerce-order-details__title {
			color: $primary-color;
			letter-spacing: 0.05rem;
			text-transform: uppercase;
		}

		table.shop_table.order_details {
			border: none;
			margin: 0;
			width: 100%;

			thead {
				background: $grey;
				color: $primary-color;
				border: none;
				margin: 0;

				tr {
					border: none;
					margin: 0;

					th {
						letter-spacing: 0.05em;
						padding: 6px;
						text-align: center;
						text-transform: uppercase;
					}
				}
			}

			tbody {
				border: none;
				margin: 0;

				tr {
					border-bottom: 1px solid $light-grey;
					border-top: none;
					border-left: none;
					border-right: none;
					margin: 0;

					td {
						border: none;
						margin: 0;
						padding: 1rem;

						&.product-name {
							a {
								color: $primary-color;
								display: inline-block;
								text-align: center;
								text-decoration: none;
							}
						}

						&.product-total {
							span.amount {
								color: $primary-color;
								display: block;
								text-align: center;
								text-decoration: none;
							}
						}

						&.product-subtotal {
							span.amount {
								color: $primary-color;
								display: block;
								font-size: 1.25rem;
								font-weight: 800;
								text-align: center;
								text-decoration: none;
							}
						}
					}
				}
			}

			tfoot {
				border: none;
				margin: 2rem 0 0;
				padding: 1rem;
				display: inline-table;

				tr {
					border-bottom: 1px solid $light-grey;
					border-top: none;
					border-left: none;
					border-right: none;
					margin: 0;

					th {
						color: $primary-color;
						text-align: right;
					}

					td {
						border: none;
						margin: 0;
						padding: 1rem;
					}

					&:last-of-type {
						th {
							font-weight: bold;
							font-weight: 700;
							text-transform: uppercase;
						}

						td {
							color: $primary-color;
							font-weight: 700;
							font-weight: bold;
							font-size: 1.25rem;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}

	.woocommerce-customer-details {
		margin-top: 1rem;

		.woocommerce-column__title {
			color: $primary-color;
			font-size: 1.25em;
			letter-spacing: 0.05rem;
			text-transform: uppercase;
		}

		address {
			border-top: 1px solid $light-grey;
			padding: 1rem 0;
		}
	}
}
