//
@import './includes/*.scss';
/******************************************************
*                    SOME FIXES
******************************************************/
*,
*:after,
*:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-appearance: none !important;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	hyphens: none;
	outline: none;
}
/* Wordpress screen reader */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}
/******************************************************
*                  INITIAL STYLES 
******************************************************/
html,
body {
	scroll-behavior: smooth;
}
body {
	background: #fff;
	color: $grey;
	font-family: $main-font;
	line-height: 1.5;
	margin: 0 auto;

	h3,
	h4,
	h5,
	h6 {
		hyphens: none !important;
	}

	p {
		margin: 0 0 1em;
		text-align: justify;

		img {
			height: auto;
			width: 100%;
		}
	}

	strong,
	b {
		font-weight: bold;
		font-weight: 600;
	}

	.button {
		align-items: center;
		border: 1px solid $primary-color;
		color: $grey;
		cursor: pointer;
		display: inline-flex;
		justify-items: center;
		padding: 0.25rem 0 0.25rem 1rem;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.3s;
		user-select: none;

		.icon {
			margin: auto 1rem auto 0.5rem;
			transition: all 0.3s;
		}

		&:hover {
			background: $primary-color;
			//padding: 0.25rem 0.75rem 0.25rem 1rem;

			.icon {
				margin: auto 0.5rem auto 1rem;
			}
		}
	}

	.feat-img {
		position: relative;
		overflow: hidden;

		.bg-placeholder-img {
			background-size: cover;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
			filter: blur(21px);
		}

		img {
			display: block;
			left: 0;
			position: absolute;
			top: 0;
			z-index: 2;
		}
	}

	.fader {
		animation: fadeIn linear 0.5s;
	}
} // body

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

/******************************************************
*                    MODULES
******************************************************/
@import './modules/*.scss';
